name: Release

on:
  push:
    tags:
      - 'v*' # Trigger the workflow on tagged releases

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.20

      - name: Build binaries
        run: |
          GOOS=linux GOARCH=amd64 go build -o docomon-linux-amd64 cmd/main.go
          GOOS=windows GOARCH=amd64 go build -o docomon-win-amd64.exe cmd/main.go
          GOOS=darwin GOARCH=amd64 go build -o docomon-darwin-amd64 cmd/main.go

      - name: Create release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.token_secret }}
        with:
          tag_name: ${{ github.ref }}
          release_name: Release ${{ github.ref }}
          draft: false
          prerelease: false

      - name: Upload Linux binary
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.token_secret }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./docomon-linux-amd64
          asset_name: docomon-linux-amd64
          asset_content_type: application/octet-stream

      - name: Upload Windows binary
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.token_secret }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./docomon-win-amd64.exe
          asset_name: docomon-win-amd64.exe
          asset_content_type: application/octet-stream

      - name: Upload macOS binary
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.token_secret }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./docomon-darwin-amd64
          asset_name: docomon-darwin-amd64
          asset_content_type: application/octet-stream
